@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #7a93b4;
  background-image: repeating-linear-gradient(
      to right,
      transparent 0 100px,
      #25283b22 100px 101px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0 100px,
      #53577022 100px 101px
    );
}

body::before {
  position: absolute;
  width: min(1400px, 90vw);
  top: 10%;
  left: 50%;
  height: 90%;
  transform: translateX(-50%);
  background-image: url(images/bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  pointer-events: none;
  content: "";
  z-index: (0);
} /*garante que fique atrás do overlay */

.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* filtro escuro */
  z-index: 2;
} /* fica na frente do fundo */

.banner .slider .item {
  overflow: visible;
  position: relative;
  z-index: 1;
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  transform-origin: center center;
  cursor: pointer;
}

.banner .slider .item:hover img {
  transform: scale(1.1);
}

.banner .slider .item img.active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  z-index: 10;
}

/* Fullscreen via classe (opcional, se quiser usar sem overlay) */
.banner .slider .item img.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-width: 100vw;
  max-height: 100vh;
  transform: translate(-50%, -50%);
  object-fit: contain;
  z-index: 9999;
  background-color: transparent;
}

/* Overlay independente e estável */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}
.overlay img {
  max-width: 95vw;
  max-height: 95vh;
  object-fit: contain;
  pointer-events: none;
}

/* .banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
} */
.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 30s linear infinite;
  z-index: 2;
}

/* GIRAR 360° */
@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}
/* FAZ RODAR EM VOLTA DO EIXO */
.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.banner .slider .item img.active {
  transform: scale(1.5); /* aumenta 50% quando clicado */
  z-index: 10; /* traz para frente */
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* z-index: 1; */
}
.banner .content h1 {
  font-family: "ICA Rubrik";
  font-size: 16em;
  line-height: 1em;
  color: #25283b;
  position: relative;
}
.banner .content h1::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 3px #b4b4b4;
  color: transparent;
}
.banner .content .author {
  font-family: Poppins;
  text-align: right;
  max-width: 200px;
}
.banner .content h2 {
  font-size: 3em;
}
.banner .content .model {
  background-image: url(images/model.png);
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  /* z-index: 1; */
}
@media screen and (max-width: 1023px) {
  .banner .slider {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(300px);
  }
  .banner .content h1 {
    text-align: center;
    width: 100%;
    text-shadow: 0 10px 20px #000000;
    font-size: 7em;
  }
  .banner .content .author {
    color: #ffffff;
    padding: 20px;
    text-shadow: 0 10px 20px #000;
    z-index: 2;
    max-width: unset;
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  .banner .slider {
    width: 100px;
    height: 150px;
    left: calc(50% - 50px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(180px);
  }
  .banner .content h1 {
    font-size: 5em;
  }
}

.container {
  width: 500px;
  padding: 20px 30px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff8a;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.658) 0px 0px 60px 20px;
  z-index: 3;
}
.container h1 {
  font-size: 36px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid #e0e0e093;
  outline: none;
  font-size: 16px;
  color: #ffffff;
  padding: 20px 45px 20px 20px;
  /*cima, direita, baixo, esquerda */
  box-shadow: rgba(0, 0, 0, 0.658) 0px 0px 20px 9px;
  border-radius: 25px;
}

.input-box ::placeholder {
  color: #d1cbcb;
}

.input-box i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.remember-forget {
  display: flex;
  justify-content: space-between;
  margin: -15px 0 15px;
}
/* margin e padding 
1 valor - margin: 20px - Todos os lados
2 valores - margin: 20px 30px - Em cima e embaixo, dos lados
3 valores - margin: 20px 10px 30px - Em cima, dos lados, embaixo
4 valores - margin: 10px 30px 12px 33px - Em cima, direita, em baixo, esquerda
*/

.remember-forget label input {
  accent-color: #fff;
  margin-right: 5px;
}

.remember-forget a {
  text-decoration: none;
  color: #fff;
}

.remember-forget a:hover {
  text-decoration: underline;
  color: rgb(37, 37, 37);
}

.button {
  width: 60%;
  height: 50%;
  background-color: #808080;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600px;
  box-shadow: rgba(0, 0, 0, 0.658) 0px 0px 20px 9px;
  margin: 5% 0 5% 20%;
  padding: 5px;
  border-radius: 20px;
}

.button:hover {
  background-color: transparent;
  border: 2px solid #ffffff93;
  color: #ffffff;
  transition: 0.5s;
}
.button a {
  text-decoration: none;
  color: #fff;
  margin: 0% 0 0% 40%
}
.register-link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.register-link a:hover {
  text-decoration: underline;
  color: rgb(37, 37, 37);
}

